@model StuffNThings.Models.LocalPasswordModel

@{
    ViewBag.Title = "ManagePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManagePassword</h2>

@if(ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}

<p>
    @Html.ActionLink("Return to Profile", "Manage", "Account")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}